<% provide(:title, @book.title) %>

<div class="center">
  <h1><%= @book.title %></h1>
  <div>
    <%= link_to "edit", edit_admin_book_path(@book) %>
    <%= link_to "delete", @admin_book, method: :delete,
        confirm: "Are you sure?" %>
  </div>

  <h4>by <%= @book.author %></h4>
  <h4><%= @book.page %> pages</h4>
  <h4>Pulished: <%= @book.published_at.to_date %></h4>
  <p><%= @book.summary %></p>
</div>