<%= provide(:title, @user.name) %>
<div class="center">
  <div><%= gravatar_for @user %></div>
  <div><%= @user.name %></div>
  <% if user_signed_in? %>
    <div><%= render 'shared/stats' %></div>
    <div><%= render 'follow_form' %></div>
  <% end %>
</div>

<h2>Activities</h2>
<ul class="users">
  <%= render @user.activities %>
</ul>

<table class="table">
  <thead>Favorites</thead>

  <% @user.user_books.favorite.each do |user_book| %>
    <% book = user_book.book %>
    <td><%= link_to book.title, book %></td>
  <% end %>
</table>

<% if current_user?(@user) %>
  <table class="table">
    <thead>Requested</thead>
    <thead>
      <td>Title</td>
      <td>Time</td>
      <td>Acceppted</td>
    </thead>
    <% if @user.requests.any? %>
      <% @user.requests.each do |request| %>
        <% book = request.book %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= request.created_at.to_date %></td>
          <% if request.accepted? %>
            <td>Yes</td>
          <% elsif request.canceled? %>
            <td>No</td>
          <% else %>
            <td>Not yet</td>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <table class="table">
    <thead>Histories</thead>
    <thead>
      <td>Title</td>
      <td>Status</td>
      <td>Time</td>
    </thead>

    <% @user.user_books.history.each do |user_book| %>
      <% book = user_book.book %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td>
          <% if user_book.read? %>
            Read
          <% else %>
            Reading
          <% end %>
        </td>
        <td><%= user_book.created_at.to_date %></td>
      </tr>
    <% end %>
  </table>
<% end %>