<%= provide(:title, @user.name) %>
<div class="center">
  <div><%= gravatar_for @user %></div>
  <div><%= @user.name %></div>
  <% if user_signed_in? %>
    <div><%= render 'shared/stats' %></div>
    <div><%= render 'follow_form' %></div>
  <% end %>

  <h1>History</h1>
  <ul class="users">
    <% @versions.each do |version| %>
      <% user = User.find_by_id version.whodunnit %>
      <% if user == @user %>
        <% if version.item_type == "Comment" %>
          <li>
            <%= user.name %> commented on a review at
            <% comment = Comment.find_by_id version.item_id %>
            <%= link_to comment.review.book.title, comment.review.book %>
          </li>
        <% elsif version.item_type == "Review" %>
          <li>
            <%= user.name %> reviewed at
            <% review = Review.find_by_id version.item_id %>
            <%= link_to review.book.title, review.book %>
          </li>
        <% elsif version.item_type == "UserBook" %>
          <li>
            <% user_book = UserBook.find_by_id version.item_id %>
            <% if user_book.read? %>
              <%= user.name %> mark as read
              <%= link_to user_book.book.title, user_book.book %>
            <% elsif user_book.favorite? %>
              <%= user.name %> mark as favorite
              <%= link_to user_book.book.title, user_book.book %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if version.item_type == "Relationship" %>
        <% relationship = Relationship.find_by_id version.item_id %>
        <% if relationship.present? %>
          <% followed_user = User.find_by_id relationship.followed_id %>
          <% follower_user = User.find_by_id relationship.follower_id %>
          <% if @user == follower_user %>
            <li>
              <%= @user.name %> follows
              <%= link_to followed_user.name, followed_user %>
            </li>
          <% elsif @user == followed_user %>
            <li>
              <%= @user.name %> is followed by
              <%= link_to follower_user.name, follower_user %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<table class="table">
  <thead>Favorites</thead>

  <% @user.user_books.favorite.each do |user_book| %>
    <% book = user_book.book %>
    <td><%= link_to book.title, book %></td>
  <% end %>
</table>

<% if current_user?(@user) %>
  <table class="table">
    <thead>Requested</thead>
    <thead>
      <td>Title</td>
      <td>Time</td>
      <td>Acceppted</td>
    </thead>
    <% if @user.requests.any? %>
      <% @user.requests.each do |request| %>
        <% book = request.book %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= request.created_at.to_date %></td>
          <% if request.accepted? %>
            <td>Yes</td>
          <% elsif request.canceled? %>
            <td>No</td>
          <% else %>
            <td>Not yet</td>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <table class="table">
    <thead>Histories</thead>
    <thead>
      <td>Title</td>
      <td>Status</td>
      <td>Time</td>
    </thead>

    <% @user.user_books.history.each do |user_book| %>
      <% book = user_book.book %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td>
          <% if user_book.read? %>
            Read
          <% else %>
            Reading
          <% end %>
        </td>
        <td><%= user_book.created_at.to_date %></td>
      </tr>
    <% end %>
  </table>
<% end %>