<% form_id = "book_#{@book.id}_rating" %>

Your rating:
<div id="your_rating" style="display:inline;">
  <%= @rating.stars %>
</div>

<%= form_for [@book, @rating], 
  html: {id: form_id, class: "star_rating_form"}, remote: true do |f| %>
  <%= f.hidden_field :stars, id: form_id + "_stars" %>
<% end %>

<% (1..5).each do |i| %>
  <li class="rating_star" id="<%= form_id %>_<%= i %>" 
    data-stars="<%= i %>" data-form-id="<%= form_id %>">
  </li>
<% end %>
