<% provide(:title, @book.title) %>

<div class="center">
  <h1><%= @book.title %></h1>
  <h4>by <%= @book.author %></h4>
  <h4><%= @book.page %> pages</h4>
  <h4>Pulished: <%= @book.published_at.to_date %></h4>
  <p><%= @book.summary %></p>
</div>

<% if user_signed_in? %>
  <div class="center">
    <% @user_book = @book.user_books.find_by_user_id current_user.id %>
    <% if @user_book %>
      <%= render "shared/update_favorite" %>
      <%= render "shared/update_read" %>
    <% else %>
      <%= render "shared/create_favorite" %>
      <%= render "shared/create_read" %>
    <% end %>

    <% @request = @book.requests.find_by_user_id current_user.id %>
    <% if @request.present? %>
      <%= render "shared/destroy_request" %>
    <% else %>
      <%= render "shared/create_request" %>
    <% end %>
  </div>
  <%= render "shared/review_form" %>
<% else %>
  <%= link_to "Signin to review", new_user_session_path %>
<% end %>

<div>Reviews</div>
<ul class="users left">
  <% @book.reviews.each do |review| %>
    <li>
      <% user = review.user %>
      <%= link_to user.name, user %>
      <%= review.content %> at
      <%= review.created_at.to_date %>
      
      <% if user == current_user %>
        <%= link_to "edit", edit_book_review_path(@book, review) %>
        <%= link_to "delete", book_review_path(@book, review), method: :delete, 
          confirm: "Are you sure?" %>
      <% end %>

      <ul>
        <div id="comments_<%= review.id %>">
          <%= render review.comments %>
        </div>

        <% if user_signed_in? %>
          <%= render "shared/comment_form", review: review %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>